<section class="header">
  <div>
    <h1>
      My<br />
      <span class="name">Projects</span>
    </h1>
  </div>
  <object
    type="image/svg+xml"
    data="./codeprez.svg"
    class="codeprez"
    aria-label="A developper in front of a computer"
    title="A developper in front of a computer"></object>
</section>

<style>
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.5rem;
  }

  .name {
    background-color: #37dea6;
    margin-left: 4rem;
  }

  .codeprez {
    max-width: 200px;
    margin: -2rem;
  }

  @media (min-width: 1200px) {
    .header {
      font-size: 2rem;
      flex-direction: row;
      align-content: center;
      gap: 10rem;
      height: 25rem;
    }
    .codeprez {
      max-width: 300px;
    }
  }
</style>
