---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Prez from "../components/Prez.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Prez/>
  </main>
</Layout>

<style></style>
