---
import Layout from "../layouts/Layout.astro";
import Header from "../components/index/Header.astro";
import Prez from "../components/index/Prez.astro";
import CTA from "../components/index/CTA.astro";
---

<Layout title="Michael Breyton | Portfolio">
  <div class="container">
    <Header />
    <Prez />
    <CTA />
  </div>
</Layout>

<style>
  @media (min-width: 1200px) {
    .container {
      background-image: url(./blobIndex.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 2.5vh;
    }
  }
</style>
