---
import Layout from "../layouts/Layout.astro";
import Header from "../components/projects/Header.astro";
import Project from "../components/projects/Project.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout title="Michael Breyton | My projects">
  <main>
    <Header />
      {projects.map((project) => <Project {...project} />)}
  </main>
</Layout>

<style></style>
