---
import Layout from "../layouts/Layout.astro";
import Header from "../components/projects/Header.astro";
import Project from "../components/projects/Project.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout title="Michael Breyton | My projects">
  <div class="container">
    <Header />
    <div class="projects">
      {projects.map((project) => <Project {...project} />)}
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 1200px) {
    .container {
      background-image: url(/blobProject.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: -10vh;
      gap: 10rem;
    }
  }
</style>
