<div>
    <p>Wanna see some of my projects?</p>
    <img src="./book.svg" alt="book">
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 2rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        max-width: 150px;
    }
</style>