---
import Linkedin from "./UI/Linkedin.astro";
import Mail from "./UI/Mail.astro";
import Twitter from "./UI/Twitter.astro";
---

<header>
  <nav class="nav">
    <a href="/" class="logo"
      ><img src="./michael.svg" alt="michael" width="100" height="20" /></a
    >
    <menu class="socials">
      <a
        href="https://www.linkedin.com/in/mbreyton/"
        aria-label="My Linkedin profile"><Linkedin /></a
      >
      <a
        href="https://www.twitter.com/michael_webdev"
        aria-label="My Twitter profile"
        target="_blank"><Twitter /></a
      >
      <a href="mailto:mail@michaelbreyton.dev" aria-label="My email adress"
        ><Mail /></a
      >
    </menu>
  </nav>
</header>

<style>
  header {
    margin-bottom: 3rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37dea6;
    height: 2rem;
    padding: 0.1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .socials {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
  }

  .logo {
    padding-left: 1rem;
    display: flex;
  }
</style>
